*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-darkgrey: #4a4a4a;
    --clr-lightgrey: #636363;
    --clr-darkorange: #f5793b;
    --clr-lightorange: #f79a6b;

    --ff-primary: 'Josefin Sans', sans-serif;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

section{
    padding: 7em 0;
}

.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
        flex-basis: 30%;
        min-width: 15em;
    }
}

.spacing > * + *{
    margin-top: var(--spacer, 2rem)
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-darkorange, orange);
    border-radius: .25em;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;

}

.btn:hover, 
.btn:focus{
    transform: scale(1.1);
    opacity: 0.9;
}

.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;
}

.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;

    @supports (background-blend-mode: multiply) {
        background: url(), // TODO - Add background image
        radial-gradient(var(--clr-lightgrey), var(--clr-dark));
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    } 
}

.hero p{
    font-size: clamp(1.5rem, calc(1.5vw), 2.5rem);
}
    
.featured{
    background: #eee;

    &__item{
        display: block; 
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.2;

        

        &:hover,
        &:focus{
            transform: scale(1);

            .featured__details{
                opacity: 1;
                text-shadow: 0 0 .25em rgba($color: #fff, $alpha: 1);
            }
        }

        &::after{
            content: '';
            position: absolute;
            top: 10%;
            left: 10%;
            padding: 75% 75% 0 0;
            border-radius: 50%;
            background-color: var(--clr-lightorange);
            z-index: -1;
        }
    }

    &__details{
        opacity: 0;
        transition: opacity 250ms linear;

        span{
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
}

.product{
    background: radial-gradient(
        var(--clr-inner, limegreen), 
        var(--clr-outer, purple)
    );
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;

    &__title{
        font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
        text-shadow: 0 0 .2em rgba($color: black, $alpha: .2);
    }

    &__description{
        font-size: clamp(1.2rem, calc(1.3vw), 2rem);
    }

    &__image{
        margin: -5em 0 0 0;  
    } 

    @media(min-width: 45em) {
        text-align: left;
        margin-bottom: 9em;

        &__title{
            margin: 0;
        }

        &__image{
            float: right;
            width: 65%; 
            shape-outside: url(); //TODO - add image
            shape-margin: 1em;
            margin: 0 -5em 0 0;
        }       
        
        &.shoe-left{

            .product__image{
               float: left;
               shape-outside: url();  //TODO - add image
               shape-margin: 2em;
               margin: 0 0 0 -5em;
            }            
        }
    }
}

.hero {
    --clr-accent: #faa700
}

.pebble-art-product{
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
}

.card-product{
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
}

